.tab {
  display: flex;
  margin-inline: auto;
  justify-content: center;

  &__item {
    width: 120px;
    text-align: center;
    padding-block: 10px;

    &.is-active {
      border-bottom: 4px solid #000;
    }
  }
}

.search {
  visibility: hidden;
  margin-inline: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 16px;
  justify-content: center;

  &.is-active {
    visibility: visible;
  }

  &__tab {
    margin-bottom: 10px;
  }

  &__shopImg {
    background-color: black;
    border-radius: 20px;
  }

  &__item {
    display: grid;
    grid-template-rows: subgrid;
    grid-row: span 3;
    row-gap: 8px;

    &.is-not-display {
      display: none;
    }
  }
}

.shopModal {
  border: 1px solid #000;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  margin: auto;
  position: relative;

  &__button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  &__slider {
    width: 750px;
    overflow: hidden;
  }

  &__slideWrapper {
    display: flex;
    // width: 2100px;
    transition: all 0.3s;

    &.is-slide {
      // transform: translateX(-33.33%);
      transform: translateX(var(--slide-x, 0%));
    }
  }

  &__slide {
    min-width: 100%;
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
  }

  &__description {
    width: 350px;
    height: 250px;
  }

  &__closeButton {
    position: absolute;
  }

  &__slideButton {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: blue;
    top: 50%;
    transform: translateY(-50%);
  }

  &__nextButton {
    right: 10px;

    &::before {
      content: "";
      margin: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 2px;
      width: 13px; /* くの字を山なりに見た時、左側の長さ */
      height: 13px; /* くの字を山なりに見た時、右側の長さ */
      border-top: 3px solid #000; /* くの字を山なりに見た時、左側の太さと色 */
      border-right: 3px solid #000; /* くの字を山なりに見た時、右側の太さと色 */
      transform: rotate(45deg); /* くの字の向き */
    }
  }

  &__prevButton {
    left: 10px;
  }
}

.map {
  visibility: hidden;

  &.is-active {
    visibility: visible;
  }
}

.loading {
  visibility: hidden;

  &.is-active {
    visibility: visible;
  }
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;

  &__checkboxs {
    display: grid;
  }

  &__checkbox {
    &:disabled {
      & + label {
        color: gray;
        text-decoration: line-through;
      }
    }
  }

  &__button {
    background-color: #000;
    padding: 10px;
    color: #fff;
    border-radius: 20px;

    &:disabled {
      background-color: gray;
      pointer-events: none;
    }

    &.is-hidden {
      display: none;
    }
  }
}
